#code {
    height: 100%;
    float: right;
    width: calc(100%/3);
    
    display: flex;
    justify-content: center;

    font-size: 16px;
    padding-top: 20px;
}

cpp {
    color: #fff;
    font-family: monospace;
    white-space: pre;
}

cpp p {
    padding-left: calc(var(--tab) * 40px + 20px);
    padding-right: 20px;
}

cpp .highlight {
    border-top: 1px solid #33cc6b;
    border-bottom: 1px solid #33cc6b;
    background-color: #16461e;
}