.controls {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.controls button {
    width: 40px;
    height: 40px;
    min-width: unset;
    color: #28eafe;
    background: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}