* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #0f0e14, #06166b);
}

button {
    cursor: pointer;
}

input, button {
    font-size: 18px;
    min-width: 120px;
    height: 50px;
    border-radius: 8px;
    padding: 4px 8px;

    border: 1px solid #162345;
    outline: none;
    transition: 0.5s all;
}

#app {
    height: 100vh;
    position: relative;
    color: #28eafe;
}