header {
    padding: 20px;
    min-height: 91px;
    color: #28eafe;
    border-bottom: 1px solid #162345;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__form {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__form > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__label {
    font-size: 18px;
}

.form__input {
    color: #fff;
    background-color: #162345;

    width: 155px;
}

.form__input:focus {
    border-color: #28eafe;
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__button {
    width: 50px;
    min-width: unset;
    color: #fff;
    background-color: #00e5a3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__select {
    color: #28eafe;
    background: transparent;
}

option {
    background: transparent;
}

/* Controls */
.controls {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.controls__button {
    width: 40px;
    height: 40px;
    min-width: unset;
    color: #28eafe;
    background: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.controls__button > .fa-chevron-right + .fa-chevrons-right {
    margin-left: -3px;
}